body{
    background-color: rgb(198, 241, 241);
    margin-top: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

button{
    background-color: rgb(198, 241, 241);
    border-radius: 15px;
    color: rgb(32, 110, 179);
    font-size: 30px;
    padding: 10px 15px;
    border: solid;
    border-color:rgb(32, 110, 179); ;
}

#again{
    margin-left: 135px;
}
div{
    text-align: center;
    font-size: 20px;
    margin: auto ;
}
